{% load i18n %}

{% for recensione in recensioni %}
<div class="recensione" itemprop="review" itemscope itemtype="http://schema.org/Review">
<p itemprop="description">{{recensione.opinione}}</p>
	<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
		<meta itemprop="worstRating" content = "1">
		<meta itemprop="bestRating" content = "5">
		<meta itemprop="ratingValue"content = "{{recensione.voto}}">
		{% for voto in recensione.dolce_voto %}
			{% if voto %}
			<i class="fa fa-star"> </i>
			{% else %}
			<i class="fa fa-star-o"> </i>
			{% endif %}
		{% endfor %}
	</div>
	<p><span itemprop="author">{{recensione.utente.get_anon_username}}</span> su 
	<a itemReviewed="{{recensione.prodotto.name}}" href="{{recensione.prodotto.get_absolute_url}}">{{recensione.prodotto.name}}</a>
</div>
{% endfor %}
