{% extends "base.html" %}

{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block title %}{% trans "Edit Address" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
{% if address_form.instance.pk %}
    <li><a href=".">{% trans "Edit address" %}</a></li>
{% else %}
    <li><a href=".">{% trans "New address" %}</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {% include 'userprofile/ajax/address_edit.html'%}
{% endblock content %}
