{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Your profile" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
   {% include 'userprofile/ajax/details.html'%}
{% endblock content %}

