{% load as_vertical_form from bootstrap %}
{% load undiscounted_price undiscounted_price_range price_difference from discount %}
{% load i18n %}
{% load get_symbol from inter %}
{% load at_size from images %}
{% load gross from  prices_i18n %}
{% load price_range from price_ranges %}

{% with price=product.get_price_range.min_price undiscounted=product|undiscounted_price_range %}
{% with discount=undiscounted.min_price|price_difference:price %}
<a class="navigator" href="{{product.category.get_absolute_url}}">
<span class="glyphicon glyphicon-chevron-left"></span> {% trans 'torna indietro a' %} {{product.category.name}}
</a>
<div itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-sm-6 col-sm-push-4">
            <h1 itemprop="name">
                {{ product }}
            </h1>

            <p class="lead" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                Price:
                <span itemprop="price">
                {%with min_price=product.get_price_range.min_price max_price=product.get_price_range.max_price peso=product.peso%}
                    {% gross min_price %}
                    {%if peso%}/{%trans 'etto'%}{%else%}/{%trans 'pezzo'%}{%endif%}
                    {%if min_price < max_price %}- {% gross max_price %}
                        {%if peso%}/{%trans 'etto'%}{%else%}/{%trans 'pezzo'%} {%endif%}
                    {%endif%}
                {%endwith%}
                </span>
            </p>

            <hr/>

            <p itemprop="description">
                {{ product.description|linebreaks }}
            </p>
        </div>

        <div class="col-sm-4 col-sm-pull-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in product.images.all %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.first %} class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner">
                    {% for image in product.images.all %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                        <img class="img-responsive" src="{{ image|at_size:"small" }}" alt="">
                    </div>
                    {% endfor %}
                </div>

                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-2">
        {%comment %}
            <p itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                {% if undiscounted.min_price != price %}
                    <br>
                    <span class="price undiscounted">{% price_range product %}</span>
                    <br>
                    <small class="label label-success">{% trans "You save" %} {% gross discount %}</small>
                {% else %}
                    <span class="price">{% price_range product %}</span>
                {% endif %}
            </p>
            <p>
            {% block stockinfo %}
            {% for variant in product.variants.all %}
                {% if product.stock == 0 %}
                <link itemprop="availability" href="http://schema.org/OutOfStock" /> <span class="label label-danger">{% trans "Out of stock" %}</span>
                {% else %}
                <link itemprop="availability" href="http://schema.org/InStock" /> <span class="label label-default">{% trans "In stock" %}</span>
                {% endif %}
            {% endfor %}
            {% endblock %}
            </p>
            <hr>
            {% endcomment %}
            {%comment %}
            {% with collection=product.get_products_from_collection %}
                {% if collection %}
                <h3>{% trans "Available Colors" %}</h3>
                    {% for product in collection %}
                        <a href="{{ product.get_absolute_url }}">
                            <span class="label" style="background-color: #{{ product.color.color }}">{{ product.color.name }}</span>
                        </a>
                    {% endfor %}
                    <hr>
                {% endif %}
            {% endwith %}
                        {% endcomment %}
            <h3>{% trans "Order" %}</h3>
            {% block orderform %}
            <form role="form" class="form-vertical" method="post" action=".">
                {% csrf_token %}
                {{ form|as_vertical_form }}

                <div class="form-group">
                    <p>{% trans "Final price" %} <span id="final-price">0.00</span> {{ price.currency|get_symbol }}</p>
                    <button class="btn btn-lg btn-block btn-primary">
                        {% trans "Add to cart" %}
                    </button>
                </div>
            </form>
            {% endblock %}
        </div>
    </div>
</div>
{% endwith %}
{% endwith %}