{% extends "base.html" %}


{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></li>
    <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
{% endblock breadcrumb %}

{% block outercontent %}
{%include 'product/details_ajax.html'%}

{% endblock outercontent %}