nav.container{
    width:97%;
    &>div:last-child{
        padding:0 1em;
    }
    }
header.navbar{

  text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
  font-size:1em;
  //font-family:bodoni;
  font-size:18px;
    background:@blue;
    background:@fblue;
    border:none;
    margin:0;
    img{
      border-radius:10px;
      width:220px;
    }
    .navbar-brand{
      padding:5px 0;
    }
    
    &>li>a{
      padding-bottom:0;
    }
    .collapse{
      margin:12px 0;
      background:@blue;
      height:50px!important;
      a{
        padding:10px;
        margin:5px;
      }
      .active>a{
      background:@darkblue;
      color:#fff;
      //box-shadow:6px 6px 14px @blue inset, -6px -6px 14px @blue inset;
      
      &:hover{
        
        background:@darkblue;
        color:@gold;
      }
      
    }
    .dropdown-menu{
        background:@blue;
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        & li a:hover{
          color:@blue;
          background:#fff;
        }
        ul.children{
          padding: 0;
          list-style: none;
          text-align: center;
          & a{
            display:block;
          }
        }
      }
    ul a{
      color:#fff;
      &:hover{
        color:gold;
      }
    }

    }
  }
.navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 10px;
line-height: 20px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
color: #fff;
background-color: @darkblue;
}

.alert-success {
background-color: fadeout(@gold, 65%);
border-color: @gold;
color: @blue;
font-weight: bold;
text-align: center;
}