.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.o-100{
  opacity:1;
}
.o-90{
    opacity:.9;
}
.o-70{
  opacity:.7;
}
.o-50{
    opacity:.5;
}
.o-25{
  opacity:.25;
}
.product_gradient(){
.gradient(@blue,darken(fadeout(@blue,10%),10%),fadeout(@blue,30%));
}
.gold{
    color:@gold;
    }
.italic{
    font-style:italic;
    }
.container{
    max-width:100%;
    }
.polyfill{
progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

        /* Turns off styling - not usually needed, but good to know. */
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;

        /* gets rid of default border in Firefox and Opera. */ 
        border: none;

        /* Needs to be in here for Safari polyfill so background images work as expected. */
        background-size: auto;
        
        /* Dimensions */
        width: 400px;
        height: 60px;
        
}

/* Polyfill */
progress[role]:after {
        background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
        display: none;
}
}