
.product{
    color:white;
    .product_gradient();
    border-radius: 10px;
    padding: 2px;
    border: 1px solid #aaa;
    &:hover{
        border:solid 1px @gold;
        text-decoration:none;
        h3{
            text-decoration:underline;
            }
    }
    a:hover{
        text-decoration:none;
        }
    div{
        text-align:center;
        border-radius:10px;
        position:relative;
        &:first-child{
            height:150px;
            border: solid 1px #aaa;
            background-size: cover!important;
            background-position: center center!important;
            background-repeat: no-repeat!important;
        }
        h3{
            text-transform: capitalize;
            margin:0;
            color:@gold;
        }
        h5{
            margin:4px 0;
            color:#fff;
            font-weight:bold;
        }
        & div{
            color:white;
            width:100%;
            border-radius:0 0 10px 10px;
            color:white;
            font-size:.8em;
            .stelle{
                display:block;
            }
            &:hover{
                text-decoration:none;
            }
        }
        
  }
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
border-radius: 10px;
}
.carousel-control{
  
&.left {
  border-radius: 10px 0 0 10px;
}
&.right{
  border-radius: 0 10px 10px 0;
}
}
a.navigator {
    color: #bba532;
    font-size: 1.4em;
    margin-bottom: 1em;
    display: block;
    &>span{
        top: 5px;
        }
    &:hover{
        text-decoration:none;
        opacity:.7;
        color:#1d2b6e;
    }
}
