.ingredienti{
    position:relative;}
.ricetta{
    
    &>div, .ingredienti{
        background:fadeout(@lightgold, 40%);
        box-shadow:2px 2px 8px fadeout(black,50%);
        border-radius:10px;
        margin-top: 10px;
        margin-bottom:10px;
    }

    &>div{
        padding:10px;
        font-size:1.2em;
        text-shadow:0 0 2px fadeout(#000, 60%);
    }
    img{
        display:block;
        margin:.5em auto;
    }
}
.ingrediente{
    text-align: center;
    margin-bottom: 1.2em;

    span{
        &:first-child{
            font-size: 1.5em;
            display: block;
        }
        &:last-child{
            text-transform: capitalize;
        }
    }
}
.durata{
    position:relative;
    right:70px;
    float:right;
}

.orologio{
    width: 60px;
    height: 60px;
    display:block;
    border-radius:60px;
    background:url('http://www.clockmovements.co.uk/Self%20a2.gif');
    background-size:contain;
    box-shadow:1px 1px 10px fadeout(black,30%), 1px 1px 30px fadeout(black,60%) inset;
    position:absolute;
    top:2px;
    right:10px;
    span{
        border-radius:10px;
        right: -28px;
        position:relative;
        width:2px;
        height: 30px;
        background:@blue;
        content:'';
        display:block;
        transform-origin:0% 0%;
        -webkit-transform-origin:0% 0%;
        -ms-transform-origin:0% 0%;
        &:first-child{
            width:3px;
            margin-top:10px;
            height: 20px;
            right: -28px;
            background:@gold;
            transform-origin:100% 100%;
            -webkit-transform-origin:100% 100%;
            -ms-transform-origin:100% 100%;
        }
        
    }
}
