@import "var.less";
@import "mixin.less";
@import "youtube.less";
@import "header.less";
@import "product.less";
@import "ricette.less";
@font-face {
         font-family: 'bodoni';
         src: url('../fonts/Bodoni.ttf') format('truetype');;
      }
.navbar {
  margin-bottom: 50px;
}
.breadcrumb{
  background:none;
}
.price {
	&.undiscounted {
		text-decoration: line-through;
	}
}

.address-details {
	border-bottom: 1px dashed;
	color: #3a87ad;
	cursor: pointer;
}

.popover {
	min-width: 200px;
}
html{
  
  min-height:100%;
  background-image:url('');
    background-image:url('http://s0.uploads.im/jqVNR.jpg');
  background-image:url('http://farm5.staticflickr.com/4057/4278800358_67a27b818c_o.jpg');
  background-image:url('http://upload.wikimedia.org/wikipedia/commons/a/a7/Pistachios_in_shells.jpg');
    background-image:url('http://farm1.staticflickr.com/69/192516517_3a27325d56_o.jpg');

  

  background-size:cover;
  background-repeat:no-repeat;
  padding-bottom:50px;
}
body{
  
  background:none;
  min-height:100%;
  font-family: 'Gilda Display', serif;
font-weight: normal;
font-style: normal;
  &>footer{
    position:fixed;
    bottom:0;
    width:100%;
  }
  &>.container,&>footer{
    background:#fff;
    background:rgba(255,255,255,.9);
  }
}

.container.main{
    border-radius:0 0 10px 10px;
    padding: 2em 1em;
  }

.row{
  margin:0;
}
.slider.row{
    position:relative;
    .inactive{
        opacity:0;
    }
}
.recensioni{
  &>div{
    background:multiply(@lightgold,@lightgold);
    padding:.25em;
    p:first-child{
      font-size:1.2em;
    }
    div{
      padding:.25em;
      background:@lightgold;
    }
    div>i{
      color:@gold;
    }
  }
    h3{
      text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
      border-radius: 10px 10px 0 0;
      background:@blue;
      color:#fff;
      text-align:center;
      margin:0;
      .gradient(@darkblue,@blue,@fblue)
    }
}
.container>h2,#magicbox>h2{
    color:@blue;
    text-align:right;
    padding-right:.5em;
    margin-top:0;
    margin-bottom:1.5em;
    font-family: boldoni;
    font-weight: bold;
    border-bottom: solid 2px #1d2b6e;
    &>a{
        float: left;
        color: #bba532;
        font-size: .8em;
    }
}

input[type=radio], input[type=checkbox] {
    width:1em;
}

@media (min-width: 768px){
  .navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 10px;
}
}