.youtube{
    position: relative;
    padding-bottom: 40%;
    padding-top: 0;
    height: 0; 
    overflow: hidden;
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95%;
    }
}