{% load i18n %}
{% load at_size from images %}
{% load price_range from price_ranges %}
{% load undiscounted_price_range price_difference from discount %}

<div class="product"  itemscope itemtype="http://schema.org/Product">
<a itemprop="url" href="{{ product.get_absolute_url }}">
        <div style="
        {% if product.images.exists %}
        background:url({{ product.images.first|at_size:"normal" }})" 
        {% endif %}>
        </div>
        <div>
        {% with price=product.get_price_range.min_price undiscounted=product|undiscounted_price_range %}
            {% with discount=undiscounted.min_price|price_difference:price %}
            <h3>
                <span itemprop="name">{{ product }}</span>
            {% if undiscounted.min_price != price %}
                <span class="label label-success">{% trans "Discount!" %}</span>
                {% endif %}
            </h3>
            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                <span class="stelle">
                    {% for stella in product.get_dolce_voto %}
                        <i class="fa fa-star{%if stella != 0 %} o-{{stella}} {%else%}-o{%endif%}"> </i>
                    {%endfor%}
                </span>
                <span itemprop="ratingValue">{{product.voto_medio}}</span>/5 - <span itemprop="reviewCount">{{product.numero_voti}}</span> 
                {% if product.numero_voti == 1 %}{% trans 'opinione' %}{%else%}{% trans 'opinioni' %}{%endif%}
            </div>
            <h5>{% price_range product %}</h5>
            {% endwith %}
        {% endwith %}
        </div>
    </a>
</div>