{% extends "base.html" %}
{% load i18n %}
{% load at_size from images %}
{% load slice from shop %}
{% load price_range from price_ranges %}
{% load undiscounted_price_range price_difference from discount %}



{% block title %}{{ category }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    {% include 'category/index_ajax.html' %}
{% endblock content %}
