{% load i18n %}
{% load slice from shop %}


    <h2>{{ category }}</h2>
    {% for row in products|slice:4 %}
        <div class="row">
            {% for product in row %}
            <div class="col-sm-3">
                {% include 'category/dettaglio.html'%}
             </div>
            {% endfor %}
        </div>
    {% endfor %}

