
{% load i18n %}
{% load as_horizontal_form from bootstrap %}

<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Change password' %}</legend>
        {{ form|as_horizontal_form }}
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                {% trans "Update password" %}
            </button>
        </div>
    </div>
</form>
