{% load as_horizontal_form from bootstrap %}
{% load i18n %}

<form method="post" action="{% url 'registration:login' %}" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Log in' %}</legend>
        {{ form|as_horizontal_form }}
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                {% trans "Log in" %}
            </button>
            <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "I don't know my password" %}</a>
        </div>
    </div>
    <hr>
    {% if facebook_login_url or google_login_url %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p>{% trans "Want to use your social profile?" %}</p>
                <p>
                    {% if facebook_login_url %}
                        <a class="btn btn-default zocial-facebook" href="{{ facebook_login_url }}"> {% trans "Log in using Facebook" %}</a>
                    {% endif %}
                    {% if google_login_url %}
                        <a class="btn btn-default zocial-google" href="{{ google_login_url }}"> {% trans "Log in using Google" %}</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <p>{% trans "Don't have an account yet?" %} <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "Register" %}</a></p>
        </div>
    </div>
</form>

