
{% load i18n %}
{% load as_horizontal_form from bootstrap %}

<form method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Set password' %}</legend>
        {{ form|as_horizontal_form }}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
                {% trans "Set password" %}
            </button>
        </div>
    </div>
</form>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default">
                {% trans "I don't want a password" %}
            </button>
        </div>
    </div>
</form>

