{% extends "admin/base.html" %}

{% block title %}{{ title }} | Paticceria Scardaci{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Amministrazione</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
{% endblock %}