{% load as_horizontal_form from bootstrap %}
{% load i18n %}
<form class="form-horizontal" action="." method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Address</legend>
        {{ address_book_form|as_horizontal_form }}
        {{ address_form|as_horizontal_form }}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'profile:details' %}" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>

