{% load i18n %}
{% load at_size from images %}
{% load slice from shop %}
{% load price_range from price_ranges %}
{% load undiscounted_price_range price_difference from discount %}
{% load mostra_tempo from ricetta_home %}
<h2>{% trans 'Scardaci Ricette'%}</h2>
{% for row in ricette|slice:4 %}
    <div class="row">
        {% for ricetta in row %}
        <div class="col-sm-3" itemscope itemtype="http://schema.org/Recipe">
            <div class="product" >
            <a itemprop="url" href="{{ ricetta.get_absolute_url }}">
                    <div style="
                    {% if ricetta.images.exists %}
                    background:url({{ ricetta.images.first|at_size:"normal" }})" 
                {% endif %}
                    >
                    </div>
                    <div>
                    <h3>
                        <span itemprop="name">{{ ricetta.titolo }}</span>
                    </h3>
                    <h5>
                    {%trans 'Tempo' %}: <span class="italic">{{ricetta.tempo|mostra_tempo}}</gold>
                    </h5>
                </div>
                </a>
            </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

