{% load i18n %}
{% load markdown from markup %}
{% load slice from shop %}
{% load mostra_tempo lancetta_ore lancetta_minuti from ricetta_home %}
<h2>
<a class="navigator" href="{% url 'ricette:index' %}">
<span class="glyphicon glyphicon-chevron-left"></span> {% trans 'torna indietro' %}
</a>
{{ricetta.titolo}}</h2>
<div class="ricetta" itemscope itemtype="http://schema.org/Recipe">
    
    
    <div><p> {{ricetta.descrizione|markdown}}</p> </div>
    <section class ="container ingredienti">
    <h1> Ingredienti per {{ricetta.persone}} persone 
    <span class="orologio">
    <span style="{{ricetta.tempo.hour|lancetta_ore}}"></span><span style="{{ricetta.tempo.minute|lancetta_minuti}}"></span>
    </span>
    <span class="durata">
    
    Preparazione: {{ricetta.tempo|mostra_tempo}}</span></h1>
    {% for ingredienti in ricetta.ingredienti.items|slice:4 %}
        <div class="row">
        {% for ingrediente, quantita in ingredienti %}
            <div class="col-sm-3 ingrediente">
                <span>{{ingrediente}}</span> <span>{{quantita}}</span>
            </div>
        {%endfor%}
        </div>
    {%endfor%}
    </section>
    <div> {{ricetta.ricetta|markdown}}</div>
</div>
    