{% extends "order/payment/default.html" %}
{% block forms %}
<form action="{{ form.action }}" method="{{ form.method }}">
{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Proceed" /></p>
</form>
{{ form.media }}
{% endblock forms %}
{% block page_scripts %}
{{ form.media }}
{% endblock %}