.o-100 {
  opacity: 1;
}
.o-90 {
  opacity: .9;
}
.o-70 {
  opacity: .7;
}
.o-50 {
  opacity: .5;
}
.o-25 {
  opacity: .25;
}
.gold {
  color: #bba532;
}
.italic {
  font-style: italic;
}
.container {
  max-width: 100%;
}
.polyfill {
  /* Polyfill */

  /* Ensure fallback text doesn't appear in polyfill */

}
.polyfill progress,
.polyfill progress[role] {
  /* Turns off styling - not usually needed, but good to know. */

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* gets rid of default border in Firefox and Opera. */
  border: none;
  /* Needs to be in here for Safari polyfill so background images work as expected. */

  background-size: auto;
  /* Dimensions */

  width: 400px;
  height: 60px;
}
.polyfill progress[role]:after {
  background-image: none;
  /* removes default background from polyfill */

}
.polyfill progress[role] strong {
  display: none;
}
.youtube {
  position: relative;
  padding-bottom: 40%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.youtube iframe,
.youtube object,
.youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
}
nav.container {
  width: 97%;
}
nav.container > div:last-child {
  padding: 0 1em;
}
header.navbar {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  font-size: 1em;
  font-size: 18px;
  background: #1d2b6e;
  background: rgba(29, 43, 110, 0.8);
  border: none;
  margin: 0;
}
header.navbar img {
  border-radius: 10px;
  width: 220px;
}
header.navbar .navbar-brand {
  padding: 5px 0;
}
header.navbar > li > a {
  padding-bottom: 0;
}
header.navbar .collapse {
  margin: 12px 0;
  background: #1d2b6e;
  height: 50px!important;
}
header.navbar .collapse a {
  padding: 10px;
  margin: 5px;
}
header.navbar .collapse .active > a {
  background: #152051;
  color: #fff;
}
header.navbar .collapse .active > a:hover {
  background: #152051;
  color: #bba532;
}
header.navbar .collapse .dropdown-menu {
  background: #1d2b6e;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header.navbar .collapse .dropdown-menu li a:hover {
  color: #1d2b6e;
  background: #fff;
}
header.navbar .collapse .dropdown-menu ul.children {
  padding: 0;
  list-style: none;
  text-align: center;
}
header.navbar .collapse .dropdown-menu ul.children a {
  display: block;
}
header.navbar .collapse ul a {
  color: #fff;
}
header.navbar .collapse ul a:hover {
  color: gold;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #152051;
}
.alert-success {
  background-color: rgba(187, 165, 50, 0.35);
  border-color: #bba532;
  color: #1d2b6e;
  font-weight: bold;
  text-align: center;
}
.product {
  color: white;
  background: #1d2b6e;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(18, 27, 70, 0.9)), color-stop(1, rgba(29, 43, 110, 0.7)));
  background: -ms-linear-gradient(bottom, rgba(18, 27, 70, 0.9), rgba(29, 43, 110, 0.7));
  background: -moz-linear-gradient(center bottom, rgba(18, 27, 70, 0.9) 0%, rgba(29, 43, 110, 0.7) 100%);
  background: -o-linear-gradient(rgba(29, 43, 110, 0.7), rgba(18, 27, 70, 0.9));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(29, 43, 110, 0.7)', endColorstr='rgba(18, 27, 70, 0.9)', GradientType=0);
  border-radius: 10px;
  padding: 2px;
  border: 1px solid #aaa;
}
.product:hover {
  border: solid 1px #bba532;
  text-decoration: none;
}
.product:hover h3 {
  text-decoration: underline;
}
.product a:hover {
  text-decoration: none;
}
.product div {
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.product div:first-child {
  height: 150px;
  border: solid 1px #aaa;
  background-size: cover!important;
  background-position: center center!important;
  background-repeat: no-repeat !important;
}
.product div h3 {
  text-transform: capitalize;
  margin: 0;
  color: #bba532;
}
.product div h5 {
  margin: 4px 0;
  color: #fff;
  font-weight: bold;
}
.product div div {
  width: 100%;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: .8em;
}
.product div div .stelle {
  display: block;
}
.product div div:hover {
  text-decoration: none;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  border-radius: 10px;
}
.carousel-control.left {
  border-radius: 10px 0 0 10px;
}
.carousel-control.right {
  border-radius: 0 10px 10px 0;
}
a.navigator {
  color: #bba532;
  font-size: 1.4em;
  margin-bottom: 1em;
  display: block;
}
a.navigator > span {
  top: 5px;
}
a.navigator:hover {
  text-decoration: none;
  opacity: .7;
  color: #1d2b6e;
}
.ingredienti {
  position: relative;
}
.ricetta > div,
.ricetta .ingredienti {
  background: rgba(246, 242, 221, 0.6);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ricetta > div {
  padding: 10px;
  font-size: 1.2em;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.ricetta img {
  display: block;
  margin: .5em auto;
}
.ingrediente {
  text-align: center;
  margin-bottom: 1.2em;
}
.ingrediente span:first-child {
  font-size: 1.5em;
  display: block;
}
.ingrediente span:last-child {
  text-transform: capitalize;
}
.durata {
  position: relative;
  right: 70px;
  float: right;
}
.orologio {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 60px;
  background: url('http://www.clockmovements.co.uk/Self%20a2.gif');
  background-size: contain;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7), 1px 1px 30px rgba(0, 0, 0, 0.4) inset;
  position: absolute;
  top: 2px;
  right: 10px;
}
.orologio span {
  border-radius: 10px;
  right: -28px;
  position: relative;
  width: 2px;
  height: 30px;
  background: #1d2b6e;
  content: '';
  display: block;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
}
.orologio span:first-child {
  width: 3px;
  margin-top: 10px;
  height: 20px;
  right: -28px;
  background: #bba532;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
}
@font-face {
  font-family: 'bodoni';
  src: url('../fonts/Bodoni.ttf') format('truetype');
}
.navbar {
  margin-bottom: 50px;
}
.breadcrumb {
  background: none;
}
.price.undiscounted {
  text-decoration: line-through;
}
.address-details {
  border-bottom: 1px dashed;
  color: #3a87ad;
  cursor: pointer;
}
.popover {
  min-width: 200px;
}
html {
  min-height: 100%;
  background-image: url('');
  background-image: url('http://s0.uploads.im/jqVNR.jpg');
  background-image: url('http://farm5.staticflickr.com/4057/4278800358_67a27b818c_o.jpg');
  background-image: url('http://upload.wikimedia.org/wikipedia/commons/a/a7/Pistachios_in_shells.jpg');
  background-image: url('http://farm1.staticflickr.com/69/192516517_3a27325d56_o.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
body {
  background: none;
  min-height: 100%;
  font-family: 'Gilda Display', serif;
  font-weight: normal;
  font-style: normal;
}
body > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
body > .container,
body > footer {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
.container.main {
  border-radius: 0 0 10px 10px;
  padding: 2em 1em;
}
.row {
  margin: 0;
}
.slider.row {
  position: relative;
}
.slider.row .inactive {
  opacity: 0;
}
.recensioni > div {
  background: #ede5bf;
  padding: .25em;
}
.recensioni > div p:first-child {
  font-size: 1.2em;
}
.recensioni > div div {
  padding: .25em;
  background: #f6f2dd;
}
.recensioni > div div > i {
  color: #bba532;
}
.recensioni h3 {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0 0;
  background: #1d2b6e;
  color: #fff;
  text-align: center;
  margin: 0;
  background: #152051;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d2b6e), color-stop(1, rgba(29, 43, 110, 0.8)));
  background: -ms-linear-gradient(bottom, #1d2b6e, rgba(29, 43, 110, 0.8));
  background: -moz-linear-gradient(center bottom, #1d2b6e 0%, rgba(29, 43, 110, 0.8) 100%);
  background: -o-linear-gradient(rgba(29, 43, 110, 0.8), #1d2b6e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(29, 43, 110, 0.8)', endColorstr='#1d2b6e', GradientType=0);
}
.container > h2,
#magicbox > h2 {
  color: #1d2b6e;
  text-align: right;
  padding-right: .5em;
  margin-top: 0;
  margin-bottom: 1.5em;
  font-family: boldoni;
  font-weight: bold;
  border-bottom: solid 2px #1d2b6e;
}
.container > h2 > a,
#magicbox > h2 > a {
  float: left;
  color: #bba532;
  font-size: .8em;
}
input[type=radio],
input[type=checkbox] {
  width: 1em;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
