<!DOCTYPE html>
{% load i18n %}
<html lang="{{lang|default:"en"}}">
    <head>
        <title>{% block title %}Pasticceria Scardaci{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="Fabrizio Ettore Messina">
        
        {% endblock meta %}
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/style.less">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/zocial.css">

        {% block stylesheet %}{% endblock stylesheet %}

        {% if debug %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less.js"></script>
        {% endif %}
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body itemscope itemtype="http://schema.org/WebPage">
        {% block header %}
            {%include 'partials/header.html' %}
        {% endblock %}
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
            {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="container main">
	  <div id="magicbox"><!-- un po' di magia per gli effetti ;) -->
            {% comment %}
            {% block outerbreadcrumb %}
            <ul class="breadcrumb" itemprop="breadcrumb">
                {% block breadcrumb %}
                <li>
                    <a href="/">{% trans "Home" %}</a>
                </li>
            {% endblock breadcrumb %}
            </ul>
            {% endblock outerbreadcrumb %}
            {% endcomment %}
            {% block outercontent %}
            	{% block content %}
               	
                {% endblock content %}
            {% endblock outercontent %}
            </div>
        </div>
        {% block footer %}
            <footer>
                <div class="container">
                    <p class="pull-right">
                        &copy; Pasticceria Scardaci
                    </p>
                </div>
            </footer>
        {% endblock %}
        {% block third-party-js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
         <script src="{{ STATIC_URL }}js/lib/jquery.event.swipe.js"></script>
        {% endblock third-party-js %}
        {% block footer_scripts %}
        <script src="{{ STATIC_URL }}js/ui.js"></script>
            {% block page_scripts %}
            {% endblock %}
        {% endblock footer_scripts %}
    </body>
</html>
