{% load ricetta_home from ricetta_home %}
{% load i18n %}
{% load opinioni_recenti from opinioni %}
{% load slider from opinioni %}
<div class="row">
    <div class="col-sm-8 video-container youtube">
	{%ricetta_home%}
    </div>
    <div class="col-sm-4 recensioni">
	    
	    <h3>{%trans "Recensioni"%}</h3>
	    <div>
	    {% opinioni_recenti %}
	    </div>
    </div>
</div>
<div class=" slider row">
    <div>
        {%slider%}
    </div>
<a class="left carousel-control inactive" href="#" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>