{% extends "base.html" %}
{% load as_vertical_form from bootstrap %}
{% load gross from prices %}
{% load i18n %}

{% block title %}{% trans "Your cart" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li><a href="{% url 'cart:index' %}">{% trans "Cart" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% include 'cart/index_ajax.html'%}
{% endblock content %}
