{% extends "base.html" %}
{% load i18n %}
{% load as_horizontal_form from bootstrap %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'profile:details' %}">{% trans "Your profile" %}</a></li>
    <li><a href="{% url 'registration:change_password' %}">{% trans "Change password" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% include 'registration/ajax/change_password.html'%}
{% endblock %}
