{% extends "base.html" %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block title %}{% trans "Request email confirmation" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">{% trans "Request email confirmation" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
{% include 'registration/ajax/request_email_confirmation.html'%}
{% endblock %}
